@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "breakpoints";
@import "varibales";

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Jost', sans-serif;

    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    ::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: $black;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $white;

      &:hover {
        background-color: #dedede;
      }
    }
  }
}

@layer components {
  .nav-link__hover {
    position: relative;
    color: #ffffff;

    &:hover {
      color: unset;
    }

    &:after {
      content: '';
      width: 0;
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      bottom: -2px;
      transition: all .1s ease-in-out;
    }

    &:hover:after {
      width: 100%;
    }

    &.active {
      &:after {
        width: 100%;
      }
    }
  }

  .form {
    &-control {
      width: 100%;
      @apply space-y-5;
    }

    &-item {
      @apply w-full;
      @apply space-y-2;
      &:has(.form-error-message) {
        & > .ant-input, .ant-input-password, .ant-picker, .ant-select-selector {
          border-color: $red !important;
        }
      }

      &__required {
        & > label {
          &:after {
            content: '*';
            color: $red;
          }
        }
      }
    }

    &-error-message {
      color: $antd-status-error;
      @apply text-xs;
    }
  }
}