@import "src/assets/styles/index";

.modal {
  &-container {
    .ant-modal {
      &-header {
        position: relative;

        &:after {
          content: '';
          width: 100%;
          height: 1px;
          background-color: $light-silver;
          position: absolute;
          left: 0;
          bottom: -6px;
        }
      }

      &-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}