.sidebar {
  &-container {
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
    }
  }

  &-menu {
    .ant-menu-item {
      &:hover {
        background-color: transparent !important;
      }

      &-selected {
        color: unset;
        background-color: transparent;
      }
    }
  }
}