@import "assets/styles/index";

.store-locator {
  &__listing {
    ::-webkit-scrollbar-track {
      background-color: #dedede;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $black;

      &:hover {
        background-color: #dedede;
      }
    }
  }
}