@import "assets/styles/index";

.header {
  &-link {
    display: none;
    @include lg {
      display: block;
    }
  }

  &-toolbar {
    display: none;
    @include lg {
      display: flex;
    }

    &__item {
      position: relative;

      &.active {
        @apply text-link-hover;
      }
    }
  }

  &-drawer {
    &__container {
      .header {
        &-link {
          display: flex;
          flex-direction: column;

          &__item {
            margin-bottom: 24px;
            width: fit-content;
            color: #000000;

            &:after {
              background-color: #000000;
            }

            &.active {
              color: #000000;
            }
          }
        }

        &-toolbar {
          display: flex;
          justify-content: space-evenly;

          &__item {
            color: #000000;

            &.active {
              @apply text-link-hover;
            }
          }
        }
      }

      .ant-drawer-header-title {
        .ant-drawer-close {
          order: 2;
        }
      }
    }
  }
}